.Card {
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
}

.card__title {
  margin: 0 0 24px 0;
  padding: 0;
  font-size: 60px;
}

.back-button {
  display: inline-block;
  margin-bottom: 18px;
  text-decoration: none;
  color: #c5c5c5;
  font-size: 16px;
}

.card-container__info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 70px;
  border-bottom: #000 solid;
}

.card-container__info img {
  max-width: 866px;
  max-height: 600px;
  min-width: 320px;
  margin-right: 20px;
  object-fit: cover;

  border-radius: 10px;
}

.card-container__info p {
  font-size: 25px;
  line-height: 1.5;
  max-width: 558px;
}

.card-container__examples {
  padding-bottom: 40px;
  border-bottom: #000 solid;
}

.card-container__examples h2 {
  margin: 36px 0 70px 0;
  padding: 0;
  font-size: 48px;
}
.card-container__examples-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card-container__examples-grid img {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.card-container__video {
  margin-bottom: 40px;
}

.card-container__video h2 {
  margin: 36px 0 70px 0;
  padding: 0;
  font-size: 48px;
}

.card-cart-button {
  display: block;
  padding: 20px 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 38px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.card-cart-button:hover {
  background-color: #333;
}

.card-container__video-container {
  display: flex;
  justify-content: center;
}
