.greeningPage {
  display: flex;
  flex-direction: column;
  // max-width: 1440px;
  padding: 30px 40px 0 40px;
  background-color: #fff;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 64px;
    color: black;
  }

  &__description {
    max-width: 1220px;
    margin: 30px 0;
    padding: 0;
    // text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: black;
  }

  &__central-image {
    max-width: 1280px;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto 20px auto;
  }

  &__images {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-bottom: 50px;

    @media (max-width: 748px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin-bottom: 20px;
    }

    img {
      width: 100%;
      max-width: 624px;
      height: auto;
      object-fit: cover;
      cursor: pointer;
    }
  }

  &__gallery {
    margin-top: 20px;
    color: black;

    h2 {
      margin: 0 0 32px 0;
      padding: 0;
      font-size: 40px;
    }
  }

  &__image-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;

    &-image {
      width: 100%;
      max-width: 624px;
      justify-items: center;
      margin: 0 auto 20px auto;
      border-radius: 10px;
      // &:not(:last-child) {
      //   margin-right: 32px;
      // }
    }

    @media (max-width: 748px) {
      margin-bottom: 20px;
    }
  }

  &__description-final {
    margin: 0 auto 70px auto;
    padding: 0;
    color: black;
    max-width: 840px;
    font-size: 20px;
    word-spacing: 5px;

    @media (max-width: 748px) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1200px) {
    padding: 30px 10px 0 10px;

    &__title {
      font-size: 35px;
    }

    &__description {
      font-size: 20px;
    }
  }
}

.greeningPage__list {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  color: black;
  font-size: 20px;

  &-item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-title {
    margin: 0;
    padding: 0;
    word-spacing: 5px;
  }

  &-description {
    margin: 0;
    padding: 0;
    max-width: 1220px;
    word-spacing: 5px;
  }
}

.bold-mark {
  font-weight: bold;
}
